<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>18/10/21 10:34:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Projectmethods.data()[pri:0, instance:testcases.TC001createlead@5383967b]">&gt;&gt;data</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/21 10:34:41</td>   <td>1642</td> <td title="&lt;&lt;Projectmethods.endTest()[pri:0, instance:testcases.TC001createlead@5383967b]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:34:39</td>   <td>-16</td> <td>&nbsp;</td><td title="&gt;&gt;TC001createlead.setData()[pri:0, instance:testcases.TC001createlead@5383967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/21 10:34:38</td>   <td>-448</td> <td title="&gt;&gt;Projectmethods.startTest()[pri:0, instance:testcases.TC001createlead@5383967b]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857815974</td>   <td></td> </tr>
</table>
